{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!{% endblock %}

{% block body %}
<div class="container">
    <a class="btn btn-info" href="{{ path('pingouin_add') }}">Créer un pingouin qui glisse le plus loin</a>
    <table class="table">
        <thead>
            <tr>
                <th>ID</th>
                <th>Prénom</th>
                <th>Age</th>
                <th>Couleur</th>
                <th>Enclos</th>
                <th></th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            {% for pingouin in pingouins %}
                <tr>
                    <td>{{pingouin.id}}</td>
                    <td>{{pingouin.prenom}}</td>
                    <td>{{pingouin.age}}</td>
                    <td>{{pingouin.couleur}}</td>
                    <td>{{pingouin.enclos}}</td>
                    <td><a href="{{ path('pingouin_edit',{'id':pingouin.id}) }}">Éditer</a></td>
                </tr>
            {% endfor %}
        </tbody>
    </table>


</div>
{% endblock %}
