{% extends 'base.html.twig' %}

{% block title %}Enclos{% endblock %}

{% block body %}
    <div class="container mt-5">
        <div class="col-sm-12 text-end">
            <a class="btn btn-info" href="{{ path('enclos_add') }}">Créer un bel enclos</a>
        </div>
        <table class="table">
            <thead>
            <tr>
                <th>ID</th>
                <th>Nom</th>
                <th>Température</th>
                <th>Nombre de pingouins</th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            {% for enclo in enclos %}
                <tr>
                    <td>{{enclo.id}}</td>
                    <td>{{enclo.nom}}</td>
                    <td>{{enclo.temperature}}</td>
                    <td>{{enclo.pingouins.count()}}</td>
                    <td><a href="{{ path('enclos_edit',{'id':enclo.id}) }}"><i class="fa-solid fa-pen"></i></a></a></td>
                </tr>
            {% endfor %}
            </tbody>
        </table>


    </div>
{% endblock %}
